<div class="post" data-type={{data-type}} title={{title}}>
    <img id="post_image" src="{{url}}" alt="wenwu">
    <a href="/posts/{{index}}">
      <div class="post-info-container">
          <h3 class="post-time-input">{{introductions}}</h3>
          <p1 class="post-text-input">Location: {{cities}}</p1>
          <p1 class="post-text-input">Time: {{time}}</p1>
      </div>
    </a>
</div>
